version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env  # This loads the .env file
    depends_on:
      - piston

  piston:
    image: ghcr.io/engineer-man/piston:latest
    ports:
      - "2000:2000"
    volumes:
      - piston-packages:/piston/packages
    tmpfs:
      - /piston/jobs:exec,uid=1000,gid=1000,mode=711

volumes:
  piston-packages: